<section class="text-center container">
    <form action="/api/sessions/forgot-password"  method="POST" class="form-group w-50">
        <label class="alert" for="email">Ingresar el mail del usuario del cual quiere recuperar contraseña</label>
        <br> 
        <input type="email" class="form-control" name="email" placeholder="ingresar el mail" >
        <button class="btn btn-outline-dark w-100 mt-3">Enviar</button>
    </form>

</section>